.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6);
  padding-inline: 4.165%;
  padding-block: var(--gap-10);

  & > section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5);
    padding-inline: 4.165%;
    padding-bottom: var(--gap-5);
    border-bottom: var(--border-width) solid var(--color-outline);
    &:last-child {
      border-bottom: none;
    }
  }
  & code {
    color: var(--color-on-surface);
    background: var(--color-surface);
    border-radius: var(--br-sm);
    padding-inline: var(--gap);
  }
}

.row {
  display: flex;
  gap: var(--gap-5);
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.rgb_bg {
  padding: var(--gap-5);
  background-image: linear-gradient(
    to left,
    #f00 0%,
    #f00 33.33%,
    #0f0 33.33%,
    #0f0 66.66%,
    #00f 66.66%,
    #00f 100%
  );
  background-size: 50px 50px;
  background-repeat: repeat;
}
.image_bg {
  padding: var(--gap-5);
  background-image: url("/images/landscapeSample.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
