.root {
  --color: var(--color-on-background);
  --bg: none;
  --color-hover: var(--color-on-background);
  --bg-hover: color-mix(in srgb, var(--color-on-background) 10%, transparent);

  --ff: var(--font-p);
  --fs: var(--fs-md);
  --br: var(--br-md);
  --size: var(--gap-2);

  /* Root styles */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size);
  padding: var(--size) calc(1.618 * var(--size));
  position: relative; /* Relative because of ripple, dont remove orelse ripple wont work */
  max-width: fit-content;
  height: min-content;
  border: none;
  background: var(--bg);
  color: var(--color);
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: bold;
  transition: all var(--transition-time) var(--transition-tf);
  border-radius: var(--br);
}
/* Variant styles */
.root.variant_contained {
  --color: var(--color-background);
  --bg: var(--color-on-background);
}

.root.variant_outlined {
  border: var(--border-width) solid;
  border-color: color-mix(in srgb, var(--color) 30%, transparent);
  &:not(:disabled):hover {
    outline-color: transparent;
  }
}
.root.fullWidth {
  max-width: 100%;
  width: 100%;
}
/* Button of icon type */
.root.iconButton {
  aspect-ratio: 1 / 1;
  padding: var(--size);
  height: auto;
  & svg {
    width: 1.5em;
    height: 1.5em;
  }
}

/* Icons in the start and end containers */
.adornment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}

/* Hover Styles */
.root:not(:disabled):hover {
  color: var(--color-hover);
  background: color-mix(in srgb, var(--bg-hover) 50%, transparent);
}
/* Disabled styles */
.root:disabled,
.root.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* For high contrast env */
*[data-contrast="true"] .root {
  &.variant_outlined {
    border-color: var(--color);
  }
}

/* Variant colors */
.root[data-color="primary"] {
  --color: var(--color-primary);
  --bg: none;
  --color-hover: var(--color-on-primary-container);
  --bg-hover: var(--color-primary-container);
  --border-color: var(--color-primary);
  &.variant_contained {
    --color: var(--color-on-primary);
    --bg: var(--color-primary);
  }
}
.root[data-color="secondary"] {
  --color: var(--color-secondary);
  --bg: none;
  --color-hover: var(--color-on-secondary-container);
  --bg-hover: var(--color-secondary-container);
  --border-color: var(--color-secondary);
  &.variant_contained {
    --color: var(--color-on-secondary);
    --bg: var(--color-secondary);
  }
}
.root[data-color="tertiary"] {
  --color: var(--color-tertiary);
  --bg: none;
  --color-hover: var(--color-on-tertiary-container);
  --bg-hover: var(--color-tertiary-container);
  --border-color: var(--color-tertiary);
  &.variant_contained {
    --color: var(--color-on-tertiary);
    --bg: var(--color-tertiary);
  }
}
.root[data-color="error"] {
  --color: var(--color-error);
  --bg: none;
  --color-hover: var(--color-on-error-container);
  --bg-hover: var(--color-error-container);
  --border-color: var(--color-error);
  &.variant_contained {
    --color: var(--color-on-error);
    --bg: var(--color-error);
  }
}
.root[data-color="warn"] {
  --color: var(--color-warn);
  --bg: none;
  --color-hover: var(--color-on-warn-container);
  --bg-hover: var(--color-warn-container);
  --border-color: var(--color-warn);
  &.variant_contained {
    --color: var(--color-on-warn);
    --bg: var(--color-warn);
  }
}
.root[data-color="success"] {
  --color: var(--color-success);
  --bg: none;
  --color-hover: var(--color-on-success-container);
  --bg-hover: var(--color-success-container);
  --border-color: var(--color-success);
  &.variant_contained {
    --color: var(--color-on-success);
    --bg: var(--color-success);
  }
}
/* Size styles */
.root[data-size="xs"] {
  --fs: var(--fs-xs);
  --br: var(--br-sm);
  --size: calc(var(--gap) / var(--gr));
}
.root[data-size="sm"] {
  --fs: var(--fs-sm);
  --br: var(--br-md);
  --size: var(--gap);
}
.root[data-size="lg"] {
  --fs: var(--fs-lg);
  --br: var(--br-lg);
  --size: var(--gap-3);
}
.root[data-size="xl"] {
  --fs: var(--fs-xl);
  --br: var(--br-xl);
  --size: var(--gap-4);
}
