.root {
  --color: var(--color-on-surface);
  --bg: var(--color-input-surface);
  --border-color: var(--color-on-background-low);
  --label-color: var(--color-on-background);

  --color-focused: var(--color-on-background);
  --bg-focused: var(--color-surface);
  --border-color-focused: var(--color-on-background-low);
  --label-color-focused: var(--color-on-background-low);

  --fs: var(--fs-md);
  --ff: var(--font-p);
  --br: var(--br-md);
  --size: var(--gap-2);

  display: flex;
  flex-direction: column;
  gap: 0.25em;
  font-size: var(--fs);
  width: fit-content;
}
.label {
  font-size: 0.9em;
  width: 0;
  min-width: 100%;
  color: var(--label-color);
}
.inputSurface {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--size);
  border: var(--border-width) solid;
  border-color: color-mix(in srgb, var(--border-color) 10%, transparent);
  border-radius: var(--br);
  color: var(--color);
  background: var(--bg);
  backdrop-filter: blur(var(--blur-heavy));
  transition: all var(--transition-time) var(--transition-tf);
}

/* Using where to decrease specificity*/
:where(.input) {
  flex: 1 1 100%;
  border: none;
  background: none;
  color: inherit;
  font-size: var(--fs);
  font-family: var(--ff);
}

.adornment {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-shrink: 0;
}

.helperText {
  font-size: 0.8em;
  margin-left: calc(var(--gap-2) + var(--size));
  width: 0;
  min-width: 100%;
}

/* Has start icon */
.inputSurface[data-start-adornment] .input {
  padding-left: var(--size);
}
/* Has end icon */
.inputSurface[data-end-adornment] .input {
  padding-right: var(--size);
}
.root.fullWidth {
  width: 100%;
}
/* With padding disabled */
.root.disablePadding {
  & .inputSurface {
    padding: 0;
  }
  /* Has start and end icon */
  & .inputSurface[data-start-adornment] .input,
  & .inputSurface[data-end-adornment] .input {
    padding: var(--size);
  }
}
/* Errored state */
.root[data-error="true"],
.root:has(.input:user-invalid) {
  & .helperText,
  & .label {
    color: var(--color-error);
  }
  & .inputSurface {
    border-color: var(--color-error);
  }
  /* Focused */
  &:has(.input:focus) {
    & .helperText,
    & .label {
      color: var(--color);
    }
    & .inputSurface {
      border-color: var(--border-color-focused);
    }
  }
}

/* Required Input */
.root:has(.input:required) {
  & .label {
    &::before {
      content: "*";
    }
  }
}
/* Disabled Input */
.root:has(.input:disabled) {
  opacity: 0.5;

  & .inputSurface,
  & .input,
  & .label {
    cursor: not-allowed;
  }
}
/* Focused input */
.root:has(.input:focus) {
  & .label {
    color: var(--label-color-focused);
  }
  & .inputSurface {
    background: var(--bg-focused);
    border-color: var(--border-color-focused);
    color: var(--color-focused);
  }
  & .input {
    outline: none;
  }
}
/* For high contrast env */
*[data-contrast="true"] .root {
  & .inputSurface {
    border-color: var(--border-color);
  }
}

/* Size styles  */
.root[data-size="xs"] {
  --fs: var(--fs-xs);
  --br: var(--br-xs);
  --size: calc(var(--gap) / var(--gr));
}
.root[data-size="sm"] {
  --fs: var(--fs-sm);
  --br: var(--br-sm);
  --size: var(--gap);
}
.root[data-size="lg"] {
  --fs: var(--fs-lg);
  --br: var(--br-lg);
  --size: var(--gap-3);
}
.root[data-size="xl"] {
  --fs: var(--fs-xl);
  --br: var(--br-xl);
  --size: var(--gap-3);
}
