.root {
  --check-color: var(--color-on-surface);
  --bg: var(--color-input-surface);
  --label-color: var(--color-on-background);
  --border-color: var(--color-on-background-low);

  --check-color-checked: var(--color-surface);
  --bg-checked: var(--color-on-surface);
  --label-color-checked: var(--color-on-surface);

  --fs: var(--fs-md);
  --size: 24px;
  --br: var(--br-md);

  display: flex;
  flex-direction: column;
  height: fit-content;
  font-size: var(--fs);
}
.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.checkbox {
  width: var(--size);
  height: var(--size);
  position: relative;
  flex-shrink: 0;
}
.input {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--check-color);
  background: var(--bg);
  border-radius: var(--br);
  border: var(--border-width) solid;
  border-color: color-mix(in srgb, var(--border-color) 10%, transparent);
  backdrop-filter: blur(var(--blur-light));
  transition: all var(--transition-time) var(--transition-tf);
}
.checkIconsWrapper {
  position: absolute;
  inset: 0;
  color: var(--check-color);
  pointer-events: none;
  height: 100%;
  text-align: center;
}
.indeterminateIcon,
.checkedIcon {
  display: none;
  height: 100%;
  width: 100%;
  & svg {
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.label {
  cursor: pointer;
  color: var(--label-color);
}

/* For start and end icons */
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.helperText {
  font-size: 0.8em;
  color: var(--color-on-background-low);
  margin-left: calc(var(--gap-2) + var(--size));
  width: 0;
  min-width: 100%;
}

/* Checked or indeterminate state */
.root:has(.input:checked),
.root:has(.input:indeterminate) {
  --check-color: var(--check-color-checked);
  --bg: var(--bg-checked);
  & .input {
    border-color: transparent;
  }
  & .label {
    color: var(--label-color-checked);
  }
}
/* Checked state */
.root:has(.input:checked) {
  & .checkedIcon {
    display: block;
  }
  & .indeterminateIcon {
    display: none;
  }
}
/* Indeterminate state */
.root:has(.input:indeterminate) {
  & .indeterminateIcon {
    display: block;
  }
  & .checkedIcon {
    display: none;
  }
}
/* Errored state */
.root[data-error="true"],
.root:has(.input:user-invalid) {
  & .helperText {
    color: var(--color-error);
  }
}
/* Disabled state */
.root:has(.input:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
  & .label,
  & .input {
    cursor: not-allowed;
  }
}

/* Focused state */
.root:has(.input:focus-visible) {
  & .label {
    font-weight: bold;
  }
  & .input {
    outline: var(--focus-ring);
  }
}
/* For high contrast env */
*[data-contrast="true"] .root {
  & .input {
    border-color: var(--border-color);
  }
}
/* Size */
.root[data-size="xs"] {
  --fs: var(--fs-sm);
  --size: 18px;
  --br: var(--br-sm);
}
.root[data-size="sm"] {
  --fs: var(--fs-sm);
  --size: 20px;
  --br: var(--br-sm);
}
.root[data-size="lg"] {
  --fs: var(--fs-lg);
  --size: 28px;
  --br: var(--br-lg);
}
.root[data-size="xl"] {
  --fs: var(--fs-xl);
  --size: 32px;
  --br: var(--br-lg);
}

/* Colors */
.root[data-color="primary"] {
  --check-color: var(--color-primary);
  --bg: var(--color-primary-alpha);
  --check-color-checked: var(--color-on-primary);
  --bg-checked: var(--color-primary);
  --label-color-checked: var(--color-on-primary-container);
  --border-color: var(--color-primary);
}
.root[data-color="secondary"] {
  --check-color: var(--color-on-secondary);
  --bg: var(--color-secondary-alpha);
  --check-color-checked: var(--color-on-secondary);
  --bg-checked: var(--color-secondary);
  --label-color-checked: var(--color-on-secondary-container);
  --border-color: var(--color-secondary);
}
.root[data-color="tertiary"] {
  --check-color: var(--color-on-tertiary);
  --bg: var(--color-tertiary-alpha);
  --check-color-checked: var(--color-on-tertiary);
  --bg-checked: var(--color-tertiary);
  --label-color-checked: var(--color-on-tertiary-container);
  --border-color: var(--color-tertiary);
}
.root[data-color="error"] {
  --check-color: var(--color-on-error);
  --bg: var(--color-error-alpha);
  --check-color-checked: var(--color-on-error);
  --bg-checked: var(--color-error);
  --label-color-checked: var(--color-on-error-container);
  --border-color: var(--color-error);
}
