.root {
  --bar-filled-color: var(--color-on-surface);
  --bar-color: color-mix(
    in srgb,
    var(--bar-filled-color) 20%,
    var(--color-surface)
  );
  --bar-height: var(--gap);
  --bar-gap: var(--gap);
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
}
.meter {
  --br-gp: calc(var(--bar-gap) / 2);
  background-color: var(--bar-color);
  height: var(--bar-height);
  position: relative;
  border-radius: var(--br-xs);
  mask-image: linear-gradient(
    to right,
    black 0%,
    black calc(25% - var(--br-gp)),
    transparent calc(25% - var(--br-gp)),
    transparent calc(25% + var(--br-gp)),
    black calc(25% + var(--br-gp)),
    black calc(50% - var(--br-gp)),
    transparent calc(50% - var(--br-gp)),
    transparent calc(50% + var(--br-gp)),
    black calc(50% + var(--br-gp)),
    black calc(75% - var(--br-gp)),
    transparent calc(75% - var(--br-gp)),
    transparent calc(75% + var(--br-gp)),
    black calc(75% + var(--br-gp)),
    black calc(100% - var(--br-gp))
  );
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background-color: var(--bar-filled-color);
    transition: width var(--transition-time) var(--transition-tf);
  }
}
.meter[data-score]::before {
  width: calc(var(--score) * 25%);
}

.scoreWord {
  font-size: var(--fs-sm);
  text-align: right;
}
.feedback {
  font-size: 0.8em;
  margin-left: calc(var(--gap-2) + var(--size));
  width: 0;
  min-width: 100%;
  &[data-warning="true"] {
    color: var(--color-error);
  }
}
