.root {
  display: flex;
  flex-direction: column;
  gap: var(--size);
  height: 100%;
  border-radius: var(--br);
  transition: width var(--transition-time) var(--transition-tf);
  container-type: inline-size;
  backdrop-filter: blur(var(--blur-heavy));
  z-index: var(--z-drawer);
}

.root[data-open="true"] {
  width: var(--sidebar-open-width);
}
.root[data-open="false"] {
  width: var(--sidebar-closed-width);
}
.type_float {
  position: absolute;
  height: 100%;
  &.side_left {
    left: 0;
    &[data-open="false"] {
      right: 110%;
    }
  }
  &.side_right {
    right: 0;
    &[data-open="false"] {
      right: 0;
    }
  }
}
.type_flex {
  position: relative;
}
/* ClosesTo */
.closesTo_full {
  &[data-open="false"] {
    --sidebar-closed-width: 0;
    border: none;
  }
}

/* Variants */
.variant_contained {
  background: var(--bg);
}
.variant_outlined {
  background: var(--bg);
  border: var(--border-width) solid var(--color-outline);
}
