.root path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw-path var(--transition-time) var(--transition-tf) forwards;
}

@keyframes draw-path {
  to {
    stroke-dashoffset: 0;
  }
}
