.root {
  display: flex;
  flex-direction: column;
  transition-behavior: allow-discrete;
  padding: var(--size) calc(var(--size) * var(--gr));
}
.root[data-open="true"] {
  opacity: 1;
}

.root:not(.root[data-open="true"]) {
  opacity: 0;
  display: none;
  &.showOnClose {
    opacity: 1;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
