.inputWrapper {
  position: relative;
  flex: 1;
  width: 100%;
}
.input {
  composes: input from "../InputField/InputField.module.css";
  /* subtracting the visibility toggle size from the input --size becuase it has 
  padding inline as --size and fs * 1.5 is 24 when fs is 16  */
  width: calc(100% - var(--size) * 2 - 1.5em);
  height: 100%;
}

.visibilityToggle {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  padding-inline: var(--size);
  cursor: pointer;
  color: var(--color);
  font-size: var(--fs);
  border-radius: var(--br);
  & svg {
    width: 1.5em;
    height: 1.5em;
  }
}
